Flask
Flask-JWT-Extended
Flask-Migrate 
catboost
contourpy
cycler
fonttools
graphviz
joblib
kiwisolver
lightgbm
matplotlib
numpy
pymongo
packaging
pandas
Pillow
plotly
pyparsing
python-dateutil
pytz
PyYAML
python-dotenv
scikit-learn
scikit-optimize
scipy
seaborn
six
tenacity
threadpoolctl
tzdata
xgboost
imbalanced-learn
category_encoders